html, body {
    height: 100%;
    margin: 0;
    background: black;
}

canvas#starfield {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    image-rendering: pixelated;
    z-index: 0;
}

.page-content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
}
