* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

/* CONTENEDOR CENTRAL */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.header {
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;
}

/* NAV */
.nav {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #2cc8fd;
  position: relative;
}

.nav-item {
  padding: 15px;
}

.nav-links {
  display: none; 
  width: 100%; 
  flex-direction: column;
}

.nav-links a {
  padding: 15px;
  text-decoration: none;
  color: white;
  display: block;
}

/* Mostrar links en pantallas grandes */
@media (min-width: 768px) {
  .nav-links {
    display: flex !important; /* Siempre visible en PC */
    flex-direction: row;
    width: auto;
    margin-top: 0;
  }
  .nav-links a {
    border: none;
  }
  .menu-toggle {
    display: none; /* Ocultar hamburguesa en PC */
  }
}


/* HAMBURGR */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: #2cc8fd;
  margin: 4px 0;
}

/* LAYOUT */
.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.content,
.sidebar {
  border: 1px solid #2cc8fd;
  min-height: 300px;
  padding: 20px;
}

/* FOOTER */
.footer {
  border: 1px solid #2cc8fd;
  padding: 20px;
  text-align: center;
}

/* DESKTOP */
@media (min-width: 768px) {

  .menu-toggle {
    display: none;
  }

  .nav {
    justify-content: flex-start;
    gap: 40px;
  }

  .nav-links {
    display: flex;
  }

  .nav-item {
    display: none;
  }

  .layout {
    flex-direction: row;
  }

  .content {
    flex: 3;
  }

  .sidebar {
    flex: 1;
  }
}
